.starships_page {

    .starships_page-header {
        background-color: #fff;
        .starships_page-header-title {
            font-size: 25px;
            font-weight: bold;
            text-align: center;
            padding: 20px 0px;
        }
    }
}