.home_page {

    .home_page-header {
    
        .home_page-header-title {
            font-size: 25px;
            font-weight: bold;
            text-align: center;
            padding: 20px 5px;
        }
    }
}