.vehicles_page {

    .vehicles_page-header {
        background-color: #fff;
        .vehicles_page-header-title {
            font-size: 25px;
            font-weight: bold;
            text-align: center;
            padding: 20px 0px;
        }
    }
}