
    
.character-list {

        .character-list-button {
        margin: 10px 0px;
        text-decoration: none;
        color: grey;
        font-size: 15px;
        background-color: transparent;
        cursor: pointer;
        margin: 5px;

        &:hover {
            color: #000;
        }
    }
}
